@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');


:root {
    --background: #Ffffff;
    --text-color: #111111;
    --text-color-gray: #8a8a8a;
    --accent: #0000FF;
    --politics: #E993A6;
    --energy: #F0CD2D;
    --social: #EC4D42;
    --technology: #4EA742;
    --science: #4D95D6;
}

body {
    font-size: 16px;
    line-height: 1.75;

    background-color: var(--background);
    color: var(--text-color);
    margin: 100px 40px;
}


a {
    text-decoration: underline;
    color: var(--accent);
}

p {
    margin: 1rem 0;
}

main {
    display: grid;
    grid-template-columns: 500px 1fr;
}

h1, h2 {
    font-family: 'Libre Baskerville', Georgia, serif;
}

h1 {
    font-size: 48px;
    line-height: 1;
}

.legend span {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 0 12px 0 0;
    background-color: var(--accent);
    
}

.legend span.politics {
    background-color: var(--politics);
}

.legend span.energy {
    background-color: var(--energy);
}

.legend span.technology {
    background-color: var(--technology);
}

.legend span.science {
    background-color: var(--science);
}

.legend span.social {
    background-color: var(--social);
}

.legend li {
    display: flex;
    align-items: center;
    margin: 4px 0 0 16px;
    font-size: 14px;
}

h2 {
    font-size: 36px;
}

h3 {
    margin-top: 36px;
    margin-bottom: 12px;
    max-width: 300px;
    line-height: 1.5;
    font-size: 12px;
    color: var(--text-color-gray);
}

header {
    margin-right: 40px;
    max-width: 600px;
}

header img {
    margin: 12px 0 0 8px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.flowElement {
 display: block;
 margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin-right: 40px;
  max-width: 600px;
}
.sticky {
  position: fixed;
  display: block;
 margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin-right: 40px;
  max-width: 600px;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
/*.sticky + .content {
  padding-top: 102px;
}*/
.about {
    max-width: 600px;
    margin-top: 60px;
}

.references {
    margin-top: 60px;
}

.references ol {
    list-style: decimal;
    font-size: 12px;
    margin-top: 1rem;
    padding-inline-start: 40px;
    column-count: 3;
    column-gap: 120px;
}

.references li {
    margin: 1rem 0;
}

@media screen and (max-width: 1280px) {

    .references ol {
        column-count: 2;
    }
}

@media screen and (max-width: 1024px) {
    
    body {
        margin: 60px 24px; 
    }

    main {
        display: block;
    }

    .references ol {
        padding-inline-start: 20px;
        column-count: 1;
        column-gap: 0;
    }
}