:root {
    --background: linear-gradient(180deg, #F5F5F5 0%, #F5F5F5 69%, #FFFFFF 89%);
    --text-color: #000000;
    --text-color-gray: #9095A2;
    --white: #FFFFFF;
    --accent: #FFE400;
    --quetzal: #2BA4A0;
    --politics: #02AEED;
    --energy: #7020FF;
    --social: #2BA4A0;
    --technology: #FFAA36;
    --science: #F84B5A;
    --economy: #FF88AA;
    --milestone: #000000;}

@font-face {
    font-family: 'Baskerville';
    font-style:  normal;
    font-display: fallback;
    src: url("fonts/Baskerville.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 300;
    font-display: fallback;
    src: url("fonts/Inter-Light-BETA.woff2?v=3.11") format("woff2"),
         url("fonts/Inter-Light-BETA.woff?v=3.11") format("woff");
}
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: fallback;
    src: url("fonts/Inter-SemiBold.woff2?v=3.11") format("woff2"),
         url("fonts/Inter-SemiBold.woff?v=3.11") format("woff");
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 1.75;
    font-weight: 300;
    background-image: var(--background);
    color: var(--text-color);
}

a {
    display: inline-block;
    color: var(--text-color);
    background: var(--accent);
    padding: 0 4px;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 1rem 0;
}

.wrapper {
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 1060px;
    margin: 0 auto;
}

header h1 {
    font-family: 'Baskerville', serif;
    font-size: 140px;
    line-height: 0.75;
    text-align: center;
    max-width: 800px;
    margin: 96px auto 0 auto;
}

header h2 {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    overflow: hidden;
    margin: 96px 0 48px 0;
}

header h2:before,
header h2:after {
    background-color: var(--text-color-gray);
    opacity: 0.3;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
header h2:before {
    right: 1em;
    margin-left: -50%;
}
header h2:after {
    left: 1em;
    margin-right: -50%;
}

header p {
    font-size: 22px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto 60px auto;
}

header p a {
    color: var(--quetzal);
    padding: 0;
    background: none;
}

h2 {
    font-size: 36px;
}

h3 {
    margin-top: 48px;
    margin-bottom: 36px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
}

.legend div:first-child h3 {
    margin-top: 24px;
}

.legend div:last-child h3 {
    margin-top: 48px;
    margin-bottom: 0;
}



main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.legend {
    position: sticky;
    top: 20px;
    width: 100%;
    max-width: 250px;
    border-top: 3px solid var(--text-color);
    padding-bottom: 60px;
}

.legend-bubbles {
    margin-bottom: 48px;
}

.legend-bubbles span {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 0 12px 0 0;
    background-color: var(--text-color); 
}

.legend img {
    min-width: 167px;
}

.legend-bubbles span.milestones {
    width: 14px;
    height: 14px;
    border-radius: 0;
    transform: rotate(45deg);
    margin: 0 14px 0 2px;
}


.legend-bubbles span.politics {
    background-color: var(--politics);
}

.legend-bubbles span.energy {
    background-color: var(--energy);
}

.legend-bubbles span.technology {
    background-color: var(--technology);
}

.legend-bubbles span.science {
    background-color: var(--science);
}

.legend-bubbles span.social {
    background-color: var(--social);
}
.legend-bubbles span.economy {
    background-color: var(--economy);
}
.legend-bubbles div.milestone {
    width: 15px;
    height: 15px;
    background-color: var(--milestone);
    display: inline-block;
    margin: 0 14px 0 0;
    
    /* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
/* Rotate Origin */
    -webkit-transform-origin: 5 100%;
    -moz-transform-origin: 5 100%;
    -ms-transform-origin: 5 100%;
    -o-transform-origin: 5 100%;
    transform-origin: 5 100%;
}

.legend-bubbles li {
    display: flex;
    align-items: center;
    margin: 4px 0 0 16px;
    font-size: 14px;
    font-weight: 600;
}

.legend-bubbles li:first-of-type {
    margin-bottom: 20px;
}

#mainContent {
    display: flex;
    padding-bottom: 50px;
}
#mainChart {
    border-top: 3px solid var(--text-color);
    margin-left: 5%;
    flex: 1;
    padding-top: 25px;
}
g.mark-symbol.role-mark.nodes  path {
    mix-blend-mode: darken;
}
footer {
    background-color: var(--accent);
    padding-bottom: 60px;
}

footer h2 {
    font-family: 'Baskerville', serif;
    font-size: 80px;
    line-height: 1;
}

.about {
    margin-top: 60px;
    padding-top: 60px;
}

.about p {
    column-count: 2;
    column-gap: 80px;
    font-size: 18px;
}

.references {
    margin-top: 80px;
}

.references ol {
    list-style: decimal;
    font-size: 12px;
    margin-top: 1rem;
    margin-left: 1.25rem;
    column-count: 2;
    column-gap: 80px;
}

.references li {
    padding: 8px 0;
}

.references li a {
    vertical-align: top;
}

.references a:hover,
.references a:focus {
    background-color: var(--white);
    outline: none;
}

.subfooter {
    background: var(--text-color);
    color: var(--white);  
}

.subfooter .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

.subfooter a {
    background: none;
}

.subfooter .social {
    display: flex;
    justify-content: space-between;
}

.subfooter li, .subfooter span {
    display: inline-block;
}

.subfooter span {
    padding-top: 2px;
    font-size: 16px;
    font-weight: 600;
}

.subfooter li {
    padding-left: 16px;
}


@media screen and (max-width: 1024px) {

    main {
        flex-direction: column;
    }

    .legend {
        position: relative;
        max-width: 100%;
        width: 100%;
        display: flex;
        padding: 30px 0;
    }

    .legend div {
        width: 45%;
    }
    #mainChart {
        margin-left: 0;
        /* padding-top: 50px; */
    }
}

@media screen and (max-width: 800px) {

    header h1 {
        font-size: 80px;
    }

    header h2, h3 {
        font-size: 16px;
    }

    header p {
        font-size: 18px;
    }

    footer h2 {
        font-size: 64px;
    }

    .references ol, .about p {
        column-count: 1;
        column-gap: 0;
    }

    .subfooter .container {
        flex-direction: column;
        padding: 40px 0;
        justify-content: normal;
        height: auto;
    }

    .subfooter .social {
        padding-top: 16px;
    }

    .legend {
        display: block;
        padding: 30px 0 60px 0;
    }

    .legend div {
        width: 100%;
    }
    #chartTooltip {
        width: 100%;
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
        padding: 16px;
        margin: 0;
        background-color: var(--white);
        
    } 
    #chartTooltip h1 {
        font-size: 14px;
        line-height: 1;
        text-align: left;
        margin: 0;
        font-weight: bold;
        color: var(--text-color);
    }
    #chartTooltip p {
        font-size: 14px;
        line-height: 1.5;
        text-align: left;
        margin: 0;
        color: var(--text-color);
    }
    #chartTooltip a {
        /* vertical-align: top; */
        color: var(--text-color);
        font-size: 14px;
        line-height: 1.5;
        text-align: left;
        margin: 0;
        background-color: var(--accent)
    }
    
    #chartTooltip a:touch-action {
        background-color: var(--accent);
    }
}